.container {
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;
}

.button {
    width: 5rem;
    height: 2.5rem;
    

    font-size: 1rem;
    font-weight: bold;
    color: white;

    border-radius: 5px;
    border: 1px solid var(--gray);

}

.success {
    @extend .button;
    background-color: rgb(13, 206, 13);

    &:hover {
        background-color: green;
    }
}

.failure {
    @extend .button;
    background-color: #d71111;

    &:hover {
        background-color: #800000;
    }
}

.dafault {
    @extend .button;
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    width: 10rem;
    height: 3rem;

    &:hover {
        background-color: var(--primary);
        border: 1px solid var(--secondary);
    }
}